<div class="page-header">
	<h1>The Weblisters Blog</h1>
</div>
<div ng-repeat="post in posts | orderBy:'-upvotes'">
	<span style="font-size: 20px; margin-left: 10px">
		<a ng-show='post.link' href="{{post.link}}">
			{{post.title}} <br />
		</a>
		<span ng-hide='post.link'>
			{{post.title}} <br />
		</span>
	</span>
	<span>
		Posted by {{post.createdBy}} on {{post.createDate | date:'yyyy-MM-dd'}}
		<a href="#/posts/{{post._id}}">Comments</a>
	</span>
	<br />
	{{post.upVotes}}
	<i ng-click="incrementUpvotes(post)" class="fa fa-thumbs-up"></i>
	<i ng-click="decrementUpvotes(post)" class="fa fa-thumbs-down"></i>
	{{post.body}} <br />
	{{post.link}} <br /><br />
</div>
<div>
	<h2><a href="#/submit" ng-show="isLoggedIn()">Submit a new Blog Post</a></h2>
</div>