<div class="page-header">
	<h3>
		<span style="font-size: 20px; margin-left: 10px">
			<a ng-show='site.url' href="{{site.url}}">
				{{site.name}} <br />
			</a>
			<span ng-hide='site.url'>
				{{site.url}} <br />
			</span>
		</span>
		{{site.rating}}
		<i ng-click="incrementUpvotes(site)" class="fa fa-thumbs-up"></i>
		<i ng-click="decrementUpvotes(site)" class="fa fa-thumbs-down"></i>
	</h3>
	{{site.description}} <br />
	<a href="{{site.url}}">URL</a> <br /><br />
</div>
<div ng-repeat="review in site.reviews | orderBy:'-upvotes'">
	{{review.upVotes}}
	<i ng-click="incrementReviewvotes(site, review)" class="fa fa-thumbs-up"></i>
	<i ng-click="decrementReviewvotes(site, review)" class="fa fa-thumbs-down"></i>
	{{review.author}}
	<span style="font-size: 20px; margin-left: 10px;">
		{{review.body}}
	</span>
</div>
<form ng-show="isLoggedIn()" ng-submit="addReview()" style="margin-top: 30px;">
	<br /><h4>Submit a new Review</h4><br />
	<div class="form-group">
		Body: <input type="text" ng-model="body"></input><br />
	</div>
	<button type="submit" class="btn btn-primary">Post</button>
</form>