<html>
	<head>
		<title>The WebListers</title>
		<link rel="stylesheet" href="/javascripts/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/javascripts/vendor/bootstrap/dist/css/bootstrap.min.css">
		
		<script src="/javascripts/vendor/angular/angular.min.js"></script>
		<script src="/javascripts/vendor/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/javascripts/angularapp.js"></script>
	</head>
	<body ng-app="twl">
		<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
			<ul class="nav navbar-nav">
                <li><a href="https://www.facebook.com/theweblisters/"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="https://twitter.com/theweblistersin"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="mailto:info@theweblisters.com"><i class="fa fa-envelope fa-2x"></i></a></li>
				<li ng-show="isLoggedIn()"><a href='/#/users/{{userDetails()._id}}'>{{currentUser()}}</a></li>
				<li ng-show="isLoggedIn()"><a href="" ng-click="logout()">Log Out</a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
			</ul>
		</nav>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ui-view></ui-view>
			</div>
		</div>
	</body>
</html>